n8n-chatbot/my_ai_assistant.json
{
  "name": "my_ai_assistant",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -480,
        144
      ],
      "id": "a948febe-9bf0-4ed4-bd88-465ce47bbc43",
      "name": "When chat message received",
      "webhookId": "3a908480-05f4-4981-9595-adee52a3a3fa"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "=# Role\n**you are an assistant who write youtube script for a youtube channel**\n\n#Detail about Channel\nName: KK dev\nMain Content: tech video,game devolepment video,software installation video\n\n#Output\n- Give a response as per user message\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        128,
        -48
      ],
      "id": "bd75ffa1-f05e-4f83-bf58-83003d99705c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -16,
        160
      ],
      "id": "6b7fae57-a433-4fa5-868e-8e3ef5ed8d49",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Imct6pXMxgwtMfnU",
          "name": "gemini Api 1"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.session_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        144,
        192
      ],
      "id": "3a9f6e0c-6dd3-43be-969b-c28ee445dd18",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "n8n",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -192,
        -48
      ],
      "id": "a67c88f4-fa64-4f25-8561-eba31c3d1576",
      "name": "Webhook",
      "webhookId": "06bdc1d8-3080-4e99-85a3-c40904819d3f"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        480,
        -48
      ],
      "id": "e9978f88-d02c-4ab2-a691-134e997176fe",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        []
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "09b786a0-fe33-4dae-acef-35f1babcc457",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e32f45dba1cda1996ea02bbf85df54ac92b327a866cb1656d5addf57c53a95ad"
  },
  "id": "Cmqnt6T1zX0KWj0x",
  "tags": []
}